system_ext/preinstallapp/Weibo/Weibo.apk
system_ext/priv-app/VoiceModel/VoiceModel.apk
system_ext/priv-app/Settings_MFV/Settings_MFV.apk
system_ext/priv-app/SystemUI_MFV/SystemUI_MFV.apk
system_ext/priv-app/AIDigitalPersonaService_MFV/AIDigitalPersonaService_MFV.apk
system_ext/priv-app/ZteMiscAgentTools/ZteMiscAgentTools.apk
system_ext/partner-app/TencentDocs/TencentDocs.apk
system_ext/partner-app/NubiaHuya/NubiaHuya.apk
system_ext/partner-app/NubiaBaiduSearch/NubiaBaiduSearch.apk
system_ext/partner-app/SmartHome/SmartHome.apk
vendor/bin/reranker-embeddings.raw
vendor/bin/sensevoice.serialized.bin
vendor/etc/camera/udc_512_512_12Binary.bin
vendor/etc/dts/dts-eagle.lic
recovery.img
product/priv-app/GmsCore/GmsCore.apk
product/app/TrichromeLibrary64/TrichromeLibrary64.apk
product/app/NebulaTranslation_NebulaDomesticPhone/NebulaTranslation_NebulaDomesticPhone.apk
system/system/lib64/libzteFaceRecognitionModels.so
system/system/media/fans/bootanimation.zip
system/system/priv-app/GameSpace/GameSpace.apk
system/system/priv-app/PersonalAgent_MFV/PersonalAgent_MFV.apk
system/system/priv-app/Nubia_PhotoEditor160/Nubia_PhotoEditor160.apk
system/system/priv-app/NubiaRedmagickyi_RedMagic_Demi/NubiaRedmagickyi_RedMagic_Demi.apk
system/system/priv-app/Gallery_Nubia_MFV/Gallery_Nubia_MFV.apk
system/system/priv-app/AIGeneration/AIGeneration.apk
system/system/priv-app/NubiaCamera/NubiaCamera.apk
system/system/priv-app/HaloBaseApp_Baidu/HaloBaseApp_Baidu.apk
system/system/priv-app/FileMgr_MFV/FileMgr_MFV.apk
system/system/priv-app/IntelliText_MFV/IntelliText_MFV.apk
system/system/priv-app/BaiduInput-GN/BaiduInput-GN.apk
system/system/priv-app/AIEngine_MFV/AIEngine_MFV.apk
system/system/etc/scene_recognition/sceneRecognitionCache.bin
system/system/etc/faceclassifier/faceclassifier.dlc
system/system/etc/portrait_segment/IDPhotoMattingCache.bin
system/system/etc/Gallery/models/epoch5.txt.fp16.onnx
system/system/etc/Gallery/models/img.bin
system/system/etc/custom_config/app/systemUI/depth/wallpaperMattingCache.bin
system/system/etc/photo_bokeh/bokehMattingCache.bin
system/system/app/LiveWallpaper_Axon_1080_2400_ne2e12f123_ne1c1d12i1_m14k12_m13k1/LiveWallpaper_Axon_1080_2400_ne2e12f123_ne1c1d12i1_m14k12_m13k1.apk
system/system/app/GameAssist/GameAssist.apk
system/system/app/NubiaGameLab_MFV/NubiaGameLab_MFV.apk
