on boot
    # Allow bugreports access to eMMC 5.0 stats
    chown root mount /sys/kernel/debug/mmc0/mmc0:0001/ext_csd
    chmod 0440 /sys/kernel/debug/mmc0/mmc0:0001/ext_csd

service dumpstate /system/bin/dumpstate -s
    class main
    socket dumpstate stream 0660 shell log
    disabled
    oneshot
    user root

# dumpstatez generates a zipped bugreport but also uses a socket to print the file location once
# it is finished.
service dumpstatez /system/bin/dumpstate -S
    socket dumpstate stream 0660 shell log
    class main
    disabled
    oneshot
    user root

# bugreportd starts dumpstate binder service and makes it wait for a listener to connect.
service bugreportd /system/bin/dumpstate -w
    class main
    disabled
    oneshot
    user root

# starts dumpstate binder service to request user de space info.
service startVendorSpaceScan /system/bin/dumpstate start_vendor_space_scan
    class main
    disabled
    oneshot
    group system root shell cache drm media_rw mediadrm misc nfc ext_data_rw ext_obb_rw log
    user root

on property:sys.vendor.spacescan.state=vendor_starting
    start startVendorSpaceScan
